body {
    text-align: center;
}
h1 {
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	line-height: 40px;
}
h2 {
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	line-height: 40px;
	text-align: left;
}
#score {
	background-color: black;
	height: 50px;
	width: 606px;
	border-radius: 4px 4px 0 0;
	margin: auto auto 0 auto;
}


